---
import Icon from "astro-icon";
import RowEntry from "../components/RowEntry.astro";
import SectionTitle from "../components/SectionTitle.astro";
import SocialIcon from "../components/SocialIcon.astro";

import { SITE_TITLE } from "../config";
import "../styles/global.css";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{SITE_TITLE}</title>
  </head>
  <body class="dark:bg-black">
    <button id="dark-mode-toggle" class="mb-2 mt-2">
      <Icon name="tabler:sun" class="w-6 h-6 dark:text-white" />
    </button>

    <div class="text-center mb-3">
      <h1 class="text-2xl font-bold mb-1 dark:text-white">Fabian Martinez Rincon</h1>
      <h3 class="text-base dark:text-white">
        <a
          href="tel:+54 221 3529440"
          class="hover:text-red-500 dark:text-white dark:hover:text-red-500"
          >+54 221 3529440
        </a>

        <a
          href="mailto:max.mustermann@example.com"
          class="hover:text-red-500 dark:text-white dark:hover:text-red-500"
          >fabianmartinezrincon.123@gmail.com</a
        >
      </h3>
    </div>

    

    <div id="Links" class="mb-6">
      <SectionTitle title="Additional Information " />
      <br>
    
        For further details about my professional background, please visit <a
        href="https://github.com/Fabian-Martinez-Rincon"
        class="hover:text-red-500 dark:text-white dark:hover:text-red-500"
        >https://github.com/Fabian-Martinez-Rincon
      </a> or <a
      href="https://rincondelfabo.vercel.app/"
      class="hover:text-red-500 dark:text-white dark:hover:text-red-500"
      >https://rincondelfabo.vercel.app/
    </a>.
    </div>

    <div id="work" class="mb-6">
      <SectionTitle title="Working experience" />

      <RowEntry
        description="I developed software in Python using Pandas, PyGetWindow, PyAutoGUI, and Tkinter to automate data entry on gaming machines, saving significant time for the company. I managed and automated permission administration in Linux using ACL and Bash Scripting"
        name="09/2023 - today"
        title="Testing Engineer"
        subTitle="Gaming Labs Sudamerica"
      />

      <RowEntry
        description="Served as an advanced tutor, facilitating the adaptation of new students and providing essential academic and administrative guidance"
        name="03/2022 - 12/2022"
        title="Tutor"
        subTitle="UNLP | Informatica"
      />

      <RowEntry
        description="During my internship, I mastered Arduino tools and modules for project implementation and created a static webpage using CSS, HTML, and JavaScript on GitHub Pages."
        name="10/2017 - 01/2019"
        title="Backend Developer Intern"
        subTitle="UNITEC - Project Arduino"
      />
    </div>

    <div id="education" class="mb-6">
      <SectionTitle title="Education" />
    
      <RowEntry
        description="Skilled in Java and design patterns, Agile methodologies (Scrum), PostgreSQL, Linux, and relational databases. Proficient in Bash scripting, Python, Flask, and front-end technologies including HTML, CSS, JavaScript, React, Tailwind and Vue.js"
        name="02/2021 - today"
        title="Bachelor of Systems"
        subTitle="UNLP | Informatica"
      />

      <RowEntry
        description="Basic knowledge of C++, developed temperature converters in Visual Basic, and practical projects with Arduino."
        name="03/2014 - 10/2020"
        title="Electronic Technician"
        subTitle="Albert Thomas EEPT N° 6"
      />
    </div>

    <script is:inline>
      if (
        localStorage.theme === "dark" ||
        (!("theme" in localStorage) &&
          window.matchMedia("(prefers-color-scheme: dark)").matches)
      ) {
        document.documentElement.classList.add("dark");
      } else {
        document.documentElement.classList.remove("dark");
      }

      window.onload = function () {
        const element = document.getElementById("dark-mode-toggle");

        if (element) {
          element.addEventListener("click", () => {
            document.documentElement.classList.toggle("dark");

            localStorage.theme = document.documentElement.classList.contains(
              "dark"
            )
              ? "dark"
              : "light";
          });
        }
      };
    </script>
  </body>
</html>
